<h1 class="mb-5">Validation des demandes</h1>
<div *ngIf="error" class="alert alert-danger">
  <strong>{{error}}</strong>
</div>
<table class="table table-dark table-striped table-bordered">
  <thead class="table-dark">
    <tr>
      <th>Date de début</th>
      <th>Date de fin</th>
      <th>Type</th>
      <th>Nom</th>
      <th class="col-1">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let absence of absences">
      <td>{{dateFromString(absence.absence.dateDebut).toLocaleDateString()}}</td>
      <td>{{dateFromString(absence.absence.dateFin).toLocaleDateString()}}</td>
      <td>{{typeAbsenceLabels.get(absence.absence.type.libelle)}}</td>
      <td>{{absence.salarie.nom}}</td>
      <td class="d-flex justify-content-end">
        <button class="btn btn-success mx-1" (click)="confirm(absence.absence)">✔️</button>
        <button class="btn btn-danger mx-1" (click)="reject(absence.absence)">❌</button>
      </td>
    </tr>
  </tbody>
</table>
