<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title" id="deleteModalLabel">Confirmer la suppression</h5>
    <button class="btn-close" data-bs-dismiss="modal" aria-label="Fermer" (click)="cancel()"></button>
  </div>
  <div class="modal-body">
    <p>Confirmez-vous la suppression ?</p>
    <ul>
      <li>Date : {{jourferie.date.toLocaleDateString()}}</li>
      <li>Type : {{typeJourFerieLabels.get(jourferie.type)}}</li>
    </ul>
  </div>
  <div class="modal-footer">
    <button class="btn btn-danger" data-bs-dismiss="modal" (click)="cancel()">Annuler</button>
    <button class="btn btn-success" (click)="confirm()">Valider</button>
  </div>
</div>
