<div class="container my-2">
  <h1 class="mb-4 text-center">{{title}}</h1>
  <form (ngSubmit)="submit()" [formGroup]="form" class="align-items-center">
    <div *ngIf="error" class="alert alert-danger">{{error}}</div>
    <div class="form-group form-inline hstack align-items-start gap-3 mb-2">
      <label class="form-label text-end col-5" for="dateDebut">Date de début</label>
      <input class="form-control w-auto" [ngClass]="{'is-invalid': !form.controls['dateDebut'].valid}"
        formControlName="dateDebut" type="date" #dateDebut
        (change)="absence.dateDebut = dateFromISOFormat(dateDebut.value)">
    </div>
    <div class="form-group form-inline hstack align-items-start gap-3 mb-2">
      <label class="form-label text-end col-5" for="dateFin">Date de fin</label>
      <input class="form-control w-auto" [ngClass]="{'is-invalid': !form.controls['dateFin'].valid}"
        formControlName="dateFin" type="date" #dateFin (change)="absence.dateFin = dateFromISOFormat(dateFin.value)">
    </div>
    <div class="form-group form-inline hstack align-items-start gap-3 mb-2">
      <label class="form-label text-end col-5" for="type">Type de congé</label>
      <select class="form-select w-auto" [ngClass]="{'is-invalid': !form.controls['type'].valid}" formControlName="type"
        [(ngModel)]="absence.type">
        <option *ngFor="let type of typeAbsences" [value]="type">{{typeAbsenceLabels.get(type)}}</option>
      </select>
    </div>
    <div class="form-group form-inline hstack align-items-start gap-3 mb-2">
      <label class="form-label text-end col-5" for="motif" rows="5">Motif</label>
      <textarea class="form-control w-auto" [ngClass]="{'is-invalid': !form.controls['motif'].valid}"
        formControlName="motif" rows="6" placeholder="Saisir un motif" [(ngModel)]="absence.motif"></textarea>
      <div class="invalid-feedback">Vous devez saisir un motif.</div>
    </div>
    <div class="form-group form-inline hstack align-items-start gap-3 mb-2 justify-content-center">
      <button class="btn btn-danger" routerLink="..">Annuler</button>
      <button class="btn btn-success" type="submit">Valider</button>
    </div>
  </form>
</div>
