<div class="container">
  <h1 class="mb-5 mt-5 text-center">{{title}}</h1>
  <form (ngSubmit)="submit()" [formGroup]="form">
    <div *ngIf="error" class="alert alert-danger">
      <strong>{{error}}</strong>
    </div>
    <div class="mb-4 row">
      <label class="form-label offset-2 col-2 text-end" for="dateDebut">Date de début</label>
      <input class="col-3" formControlName="dateDebut" type="date" #dateDebut
        (change)="absence.dateDebut = dateFromISOFormat(dateDebut.value)">
    </div>
    <div class="mb-4 row">
      <label class="form-label offset-2 col-2 text-end" for="dateFin">Date de fin</label>
      <input class="col-3" formControlName="dateFin" type="date" #dateFin
        (change)="absence.dateFin = dateFromISOFormat(dateFin.value)">
    </div>
    <div class="mb-4 row">
      <label class="form-label offset-2 col-2 text-end" for="type">Type de congé</label>
      <div class=" col-3">
        <select class="form-select" formControlName="type" [(ngModel)]="absence.type">
          <option *ngFor="let type of typeAbsences" [value]="type">{{typeAbsenceLabels.get(type)}}</option>
        </select>
      </div>
    </div>
    <div class="mb-5 row">
      <label class="form-label offset-2 col-2 text-end" for="motif" rows="5">Motif</label>
      <textarea class="col-3" formControlName="motif" rows="6" placeholder="Saisir un motif"
        [(ngModel)]="absence.motif"></textarea>
    </div>
    <div class="mb-4 row">
      <button class="btn btn-danger offset-3 col-2" routerLink="..">Annuler</button>
      <button class="btn btn-success offset-1 col-2" type="submit">Valider</button>
    </div>
  </form>
</div>
