<div class="container">
  <h1 class="mb-5 mt-5 text-center">Demande d'une absence</h1>
  <form class="">
    <!-- [formGroup]="form" (ngSubmit)="" -->

    <div class="mb-4 row">
      <label class="form-label offset-2 col-2 text-end" for="start-date">Date de début</label>
      <input class="col-3" formGroupName="start-date" type="date" />
    </div>
    <div class="mb-4 row">
      <label class="form-label offset-2 col-2 text-end" for="end-date">Date de fin</label>
      <input class="col-3" formGroupName="end-date" type="date" />
    </div>
    <div class="mb-4 row">
      <label class="form-label offset-2 col-2 text-end" for="type">Type de congé</label>
      <div class=" col-3">
        <select class="form-select " formGroupName="type">
          <option>Congé Payé</option>
          <option>RTT</option>
          <option>Congé sans solde</option>
        </select>
      </div>
    </div>
    <div class="mb-5 row">
      <label class="form-label offset-2 col-2 text-end" for="motif" rows="5">Motif</label>
      <textarea class="col-3" formGroupName="motif" rows="6"></textarea>
    </div>
    <div class="mb-4 row">
      <button class="btn btn-danger offset-3 col-2">Annuler</button>
      <button class="btn btn-success offset-1 col-2" type="submit">Valider</button>
    </div>
  </form>

</div>
